[submodule "Hazel-Tutor/vendor/spdlog"]
	path = Hazel-Tutor/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Hazel-Tutor/vendor/GLFW"]
	path = Hazel-Tutor/vendor/GLFW
	url = https://github.com/TheCherno/GLFW
[submodule "Hazel-Tutor/vendor/imgui"]
	path = Hazel-Tutor/vendor/imgui
	url = https://github.com/TheCherno/imgui
